.profile_info_container{
  margin: auto;
  text-align: center;
  width: 100%;
}

.profile_info{
  display: flex;
  gap: 20px;
  text-align: center;
  width: 700px;
  margin: auto;
}

.profile_info img {
  border: 5px solid #4d5b8e;
  border-radius: 100%;
  height: 200px;
  margin: 10px;
  /*margin-left: 150px;*/
  /*margin: 4em auto 2.5em;*/
  object-fit: cover;
  width: 200px;
}

.profile_info_para{
  margin: auto;
}

.profile_info_para h2 {
  /*display: inline-block;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: auto;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

table{
  text-align: center;
  margin: 10px auto;
}

th{
  width: 100px;
  font-size: 20px;
}

td{
    width: 100px;
  font-size: 20px;
}

.profile_info_container button{
  background-color: white;
  border-color: #4d5b8e;
  border-radius: 5px;
  color: #333333;
  width: 150px;
  height: 50px;
  font-size: 20px;
  margin: 10px;
}

.profile_info_container button:hover{
  color: white;
  background-color: #4d5b8e;
}