.top_box{
    display: flex;
    width: 80%;
    text-align: left;
    padding-top: 50px;
}

.main h2{
    margin: auto;
    font-size: 50px;
}

.main h3{
    /*width: 150px;*/
    text-align: center;
}

form{
    margin-top: 50px;
    margin: auto;
    /*margin-right: 100px;*/
    /*float: left;*/
}

.follow_btn{
    font-size: 20px;
    width: 180px;
    padding: 5px;
    margin: auto 0px;
}


#unfollow{
    border-bottom: 5px solid #4d5b8e;
    border-radius: 100vh;
    border-color: #4d5b8e;
    color: #3E3036 ;
    display: table-cell;
    vertical-align: middle;
    background-color: #97b0c8;
}

#follow:hover{
    margin-top: 3px;
    border-bottom: 2px solid #4d5b8e;
}

.fa{
    padding-right: 5px;
}


#follow{
    border-bottom: 5px solid #4d5b8e;
    border-color: #4d5b8e;
    border-radius: 100vh;
    background-color: #ffffff;
}

#unfollow:hover{
    margin-top: 3px;
    border-bottom: 2px solid #4d5b8e;
}