<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<div>
    {{ post[1] }}
</div>
<div>
    {{ post[2] }}
</div>
<div>
    {{ post[3] }}
</div>
<div>
    <h3>comments</h3>
    {% if comments | length==0 %}
        <p>There are no comments yet.</p>
    {% endif %}
    {% for c in comments %}
    	<div>
            <div>{{ c[1] }}</div>{# date #}
            <div>{{ c[2] }}</div>{# post_id #}
            <div>{{ c[3] }}</div>{# user_id #}
            <div>{{ c[4] }}</div>{# comment #}
            <a href="{{ url_for('edit_comment', comment_id=c[0], post_id=c[2])}}">Edit</a>
            <a href="{{ url_for('delete_comment', comment_id=c[0], post_id=c[2])}}"
            onclick="return confirm('Are you sure want to delete?')">DELETE</a>
        </div>
    {% endfor %}


<div>
    <h3>Write new comments</h3>
 <form method="post">
    <label for="comment_text">
        Enter your comment
        <input type="text" name="comment" value="{{comment_text}}">
    </label>
     <button type="submit">Comment</button>
</form>

</div>

</div>
</body>
</html>