<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b6f31539a5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Welcome to IB reddit!</h1>
 <button><a href="{{ url_for('post') }}">Post</a></button>

    <button><a href="{{ url_for('register') }}">Register</a></button>

    {% if logging %}
        <button type="submit"><a href="{{ url_for('logout') }}">LOGOUT</a></button>
        <button><a href="{{ url_for('my_profile') }}">See my profile</a></button>
    {% else %}
            <button type="submit"><a href="{{ url_for('login') }}">LOGIN</a></button>
    {% endif %}

<article>
<div class="side">
    <h2>Subjects</h2>
    <ul class="accordion-menu">
      <li>
        <div class="dropdownlink">
            <i class="fa fa-road" aria-hidden="true"></i>Group 1<i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">English A</a></li>
          <li><a href="#">Japanese A</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-paper-plane" aria-hidden="true"></i>Group 2<i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">English B</a></li>
          <li><a href="#">Japanese B</a></li>
          <li><a href="#">Chinese ab initio</a></li>
          <li><a href="#">Spanish ab initio</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-quote-left" aria-hidden="true"></i>Group 3<i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Economics</a></li>
          <li><a href="#">Global Politics</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">ESS</a></li>
        </ul>
      </li>
      <li>
        <div class="dropdownlink"><i class="fa fa-motorcycle" aria-hidden="true"></i>Group 4<i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <ul class="submenuItems">
          <li><a href="#">Biology</a></li>
          <li><a href="#">Physics</a></li>
          <li><a href="#">Chemistry</a></li>
          <li><a href="#">Computer Science</a></li>
          <li><a href="#">ESS</a></li>
        </ul>
      </li>
    </ul>
</div>


<div class="main">
    <div class="posts">
        <form method="post">

        {% for p in posts%}
            <div class="post">
            <table class="table">
            <tr>
                <td>{{ p[7] }}</td> {#post_user_id#}
                <td><button><a href="{{ url_for('profile', user=p[3])}}">check profile</a></button></td>
                <td>{{ p[1] }}</td>  {#date#}
            </tr>

            <tr><td class="post_text">{{ p[2] }}</td> {#text#}</tr>

            {% if p[4] is not none and p[4]|length != 0 %}
                <tr><td><img class="image" src="{{ 'static/post_image/' + p[4] }}" alt="Image"></td></tr>
            {% endif %}

            <tr>
                {% if p[8] == True %}
                    <td><button name="like_btn" class="like_btn"><a href="{{ url_for('like', post_id=p[0]) }}">
                        <i class="fa fa-heart" style="font-size:30px;color:#ED4987"></i>LIKE</a></button></td>
                {% else %}
                    <td><button name="not_like_btn" class="like_btn" style="background-color: white "><a href="{{ url_for('like', post_id=p[0]) }}">
                        <i class="fa fa-heart" style="font-size:30px;color:#837379;"></i>LIKE</a></button></td>
                {% endif %}
                <td> {{ p[6] }}</td>
                <td><button><a href="{{ url_for('view_detail', post_id=p[0]) }}">VIEW POST</a></button></td>
            </tr>

            </table>
            </div>
        {% endfor %}


        </form>
    </div>


</div>

</article>
</body>
</html>