<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My_Profile</title>
    <link rel="stylesheet" href="/static/my_profile.css">
    <script src="https://kit.fontawesome.com/82dcdbf5f6.js" crossorigin="anonymous"></script>

</head>
<body>
    <h3>Profile</h3>
    <div class="window">
      <div class="overlay"></div>
      <div class="profile_info">
          {% if my_profile[5] %}
          <img src="/static/profile_image{{ my_profile[5] }}" alt=""/>
          {% else %}
          <img src="/static/profile_image/blank_user.jpeg" alt=""/>
          {% endif %}
        <h2>{{ my_profile[1] }}</h2>
        <h4>{{ my_profile[4] }}</h4>
      </div>
      <div class="profile_table">
          <table>
              <tr>
                  <th>post</th>
                  <th>Followers</th>
                  <th>following</th>
              </tr>
              <tr>
                  <td><i class="fa-solid fa-camera"></i> {{ post_number }}</td>
                  <td><i class="fa-solid fa-user"></i> {{ follower_number }}</td>
                  <td><i class="fa-solid fa-user-plus"></i> {{ following_number }}</td>
              </tr>

          </table>
      </div>
    <button><a href="#">Edit Profile</a></button>

{#        <a href="" class="btn">Follow</a>#}

    </div>



</body>
</html>