<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="https://kit.fontawesome.com/b6f31539a5.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>POST</h1>
    <form method="post" enctype="multipart/form-data">
            <label for="post_text">
                Enter your question
                <input type="text" name="post_text" value="{{ question}}">
            </label>

{#    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">#}
        <input type="file" name="file">
{#    </form>#}

    <div class="pulldownset">
         <select name="genre" class="main_select" requierd>
         <option value="">Select the group</option>
        <option value="G1">1: Studies in Language and Literature)</option>
        <option value="G2">2: Language Acquisition</option>
        <option value="G3">3: Individuals and Societies</option>
        <option value="G4">4: Experimental Sciences</option>
        <option value="G5">5: Mathematics</option>
        <option value="G6">6: The Arts</option>
        <option value="TOK">TOK</option>
        <option value="CAS">CAS</option>
        <option value="EE">EE</option>
    </select>

    <select id="G1" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="EA">English A</option>
        <option value="JA">Japanese A</option>
    </select>

    <select id="G2" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="EA">English B</option>
        <option value="JA">Japanese B</option>
        <option value="Jab">Japanese ab initio</option>
        <option value="Cab">Chinese ab initio</option>
        <option value="Sab">Spanish ab initio</option>
    </select>

    <select id="G3" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="Ec">Economics</option>
        <option value="Gp">Global Politics</option>
        <option value="Hi">History</option>
        <option value="Es">ESS</option>
    </select>

    <select id="G4" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="Bi">Biology</option>
        <option value="Ph">Physics</option>
        <option value="Ch">Chemistry</option>
        <option value="Co">Computer Science</option>
        <option value="Es">ESS</option>
    </select>

    <select id="G5" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="MA">Math AA</option>
        <option value="MI">Math IA</option>
    </select>

    <select id="G6" name="subject" class="sub_select">
        <option value="">Select the subject</option>
        <option value="Bi">Visual Art</option>
        <option value="Ph">Film</option>
        <option value="Ch">Theatre</option>
    </select>

    </div>

        <button class="btn btn-danger" type="submit">Submit</button>
    </form>

<script src="/static/post.js"></script>
</body>
</html>