<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <script src="https://kit.fontawesome.com/b6f31539a5.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>POST</h1>
    <form method="post" enctype="multipart/form-data">
            <label for="post_text">
                Enter your question
                <input type="text" name="post_text" value="{{ question}}">
            </label>

{#    <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">#}
        <input type="file" name="file">
{#    </form>#}
    <select name="genre" requierd>
        <option value="G1">1: Studies in Language and Literature)</option>
        <option value="G2">2: Language Acquisition</option>
        <option value="G3">3: Individuals and Societies</option>
        <option value="G4">4: Experimental Sciences</option>
        <option value="G5">5: Mathematics</option>
        <option value="G6">6: The Arts</option>
        <option value="TOK">TOK</option>
        <option value="CAS">CAS</option>
        <option value="EE">EE</option>
    </select>

        <button class="btn btn-danger" type="submit">Submit</button>
    </form>

</body>
</html>